.navbar{
    background-color: rgb(243, 246, 248);
    border-bottom: 1px solid rgb(74, 19, 126);
}

.nav-logo{
    font-family:'Times New Roman', Times, serif;
    font-weight: 600 !important;
    cursor: pointer;
}

.nav-menu .nav-menu-inner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-menu-item{
    cursor: pointer;
}

.dropdown-btn{
    border: transparent !important;
}

.nav-menu-item:hover{
    color: rgb(74, 19, 126);
    background-color: rgb(190, 182, 209);
    border-radius: 10px;
}

.nav-sign .nav-sign-inner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sign-login{
    color: rgb(74, 19, 126); 
    border: 1px solid rgb(74, 19, 126);
    border-radius: 10px;
    cursor: pointer;
}

.sign-signup{
    background-color: rgb(74, 19, 126);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.menu-icon{
    font-size: xx-large !important;
    cursor: pointer;
}

.toggle-menu-item{
    margin: 10px;
    font-size: x-large;
}

.offcanva-body li:hover span{
    color: rgb(74, 19, 126);
}

.offcanva-body a{
    text-decoration: none;
}

.offcanva-header{
    background-color: rgb(243, 246, 248);
    padding: 2rem 2rem  !important;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offcanva-header .btn-close{
    background-color: rgb(243, 246, 248) !important;
}

.offcanva-title{
    letter-spacing: 0.1em;
    font-size: larger !important;
    color: Black;
}

.offcanva-body{
    background-color: rgb(243, 246, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.offcanva-body ul{
    list-style: none;
    padding: 0 1.2rem;
}
.offcanva-body ul li{
    border-top: 1px solid rgb(53, 53, 53);
    padding: 1rem 0.5rem;
    margin-bottom: 0;
    cursor: pointer;
}

.offcanva-body ul .last-li{
    border-bottom: 1px solid rgb(53, 53, 53);
}
.offcanva-body ul li span{
    color: gray;
}

.offcanva-body ul li b{
    padding-left: 1rem;
    color: rgb(74, 19, 126);
}



